@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    background: url("https://i1.faceprep.in/ProGrad/minion-background.png");
    background-size: 100% 100%;
}

section{
    width: 500px;
    background-color: #ffffff;
    margin: auto;
}

div{
    text-align: center;
}

p, input[type="text"], input[type="number"], textarea, form{
    width: 350px;
    padding: 8px;
    margin: auto;
    padding: 10px 0 10px 0;
}

p, form{
    margin: auto;
}

label{
    font-weight: bold;
}

input, textarea{
    margin: 10px 0;
}

input[type="submit"]{
    background-color: royalblue;
    display: block;
    color: white;
    margin: auto;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

input[type="checkbox"]{
    margin-left:5px;
    margin-right:5px;
}